@font-face {
  font-family: 'ReignBeats';
  src: url('font/Reign Beats.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Title uses ReignBeats */
header h1 {
  font-family: 'ReignBeats', sans-serif;
  font-size: 7rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: url('graffiti.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff; /* white text for contrast */
}


header {
  background-color: #4b0082;
  color: white;
  padding: 3rem 1rem 2rem;
  text-align: center;
  position: relative;
}

/* 🖼️ Reveille image top-left */
.corner-logo {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #6200ea;
  color: white;
  border: 50px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  font_size: 50px;
  top: 50px;
  bottom: 50px;
}

button:hover {
  background-color: #4e00b8;
  box-shadow: 0 0 10px #003399;
}

.button-container {
  display: flex;
  gap: 200px; 
  justify-content: center; 
  align-items: center; 
  
}


footer {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* history of skating */
.history {
  font-family: "Georgia", serif;
  background-color: #00BFFF;
  border_radius: 15px;
  
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222; /* optional: make it a bit darker for readability */
  margin: 0 auto;
  max-width: 1000px; /* keeps lines from getting too wide */
  padding: 20px;
}

.benefits {
  font-family: "Georgia", serif;
  background-color: #00BFFF;
  border_radius: 15px;
  
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222; /* optional: make it a bit darker for readability */
  margin: 0 auto;
  max-width: 1000px; /* keeps lines from getting too wide */
  padding: 20px;
}

.specialheader {
  font_color: #6B9BCA;
}
